body {
    background-color: #9d7651;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main hr {
    width: 80%;
}

#search {
    text-align: center;
    margin: auto;
}
#inputPoints {
    width: 75px;
    text-align: center;
}
#inputNev, #inputOM {
    display: inline-block;
}

#stats {
    text-align: center;
    margin: auto;
}
.stat {
    color: bisque;
}

#results {
    width: 40%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
#results tr:hover {
    background-color: rgb(255, 209, 141);
    color: black;
    transition: 0.2s;
}
#results td:hover {
    background-color: rgb(255, 186, 81);
    transition: 0.2s;
}
#results th {
    text-transform: uppercase;
    font-size: 20px;
}
#results td, #results th {
    border: 1px solid black;
    height: 25px;
}

#results tbody:first-child {
    background-color: navajowhite;
    color: black;
    cursor: pointer;
}
tbody:nth-child(odd) {
    background-color: #ab8b74;
}
tbody:nth-child(even) {
    background-color: #765848;
}

#csvOut {
    text-align: center;
    background-color: rgb(51, 51, 51);
    font-family: 'Courier New', Courier, monospace;
}